[Unit]
Description=Discord Bot intManager
After=network.target

[Service]
ExecStart=/home/intneo/manager/.bot/bin/python3 /home/intneo/manager/bot.py
WorkingDirectory=/home/intneo/manager
Restart=always
User=intneo
Group=intneo
Environment="PYTHONUNBUFFERED=1"
Environment="PATH=/home/intneo/manager/.bot/bin:/usr/bin:/usr/local/bin"
MemoryMax=150M
Restart=on-failure
RestartSec=5
TimeoutStopSec=6

[Install]
WantedBy=multi-user.target
